<html>
<body>
<div height="100%">
    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Login Form</b></h2></center></legend><br>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Email id:-</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input type="email" name="email" placeholder="Email" required class="form-control input-lg"  />
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Password:-</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />
    </div>
  </div>
</div>
 <div class="pwstrength_viewport_progress"></div>
          
          
          <button type="submit" name="go" class="btn btn-primary ">Sign in</button>
         

</fieldset>
</form>

    </div>