<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog List Page</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="c_blog/blogjava.js"></script>
<style>
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

</style>
</head>
<body>

<div style="padding-top: 100px" class="container" ng-controller="BlogController" >

<a href="http://bootsnipp.com/snippets/featured/panel-tables-with-filter"></a>
    <div class="row">
    <h3><i>Blog List</i></h3>
    <hr>
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Blogs</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Blog Id" disabled></th>
                         <th><input type="text" class="form-control" placeholder="UserName" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Blog Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Blog Contents" disabled></th>
                          <th><input type="text" class="form-control" placeholder="Create Date" disabled></th>
                            <th><input type="text" class="form-control" placeholder="Likes" disabled></th>
                              <th><input type="text" class="form-control" placeholder="Status" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Action" disabled></th>
                                 <th><input type="text" class="form-control" placeholder="" disabled></th>
                       
                    </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="blog in blogdata">
                       <td>{{blog.blogId}}</td>
                        <td>{{blog.username}}</td>
                        <td>{{blog.blogName}}</td>
                        <td>{{blog.blogContent}}</td>
                        <td>{{blog.createDate}}</td>
                        <td>{{blog.likes}}</td>
                        <td>{{blog.status}}
                        
                        </td>
                       <td colspan="3px">
                           <a href="" class="btn btn-info btn btn" ng-click="incrementLike(blog.blogId)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                           <a href="" class="btn btn-danger" ng-click="deleteBlog(blog.blogId)"><span class="glyphicon glyphicon-trash"></span></a>
                           <a href="" class="btn btn-success" ng-click="editBlog(blog.blogId)"><span class="glyphicon glyphicon-pencil"></span></a>
                      </td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>